body {
  font-family: "Arial, Helvetica", sans-serif;
  margin: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header, .footer {
  height: 48px;
  background-color: #52bad5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px
}

.logo {
  color: #fff;
  letter-spacing: 4px;
}

.navbar {
  font-size: 14px;
  margin: 0;
  text-align: right;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  gap: 16px;
  padding: 16px;
}

.control {
  display: flex;
  flex: 1;
  gap: 12px;
  padding: 12px;
  background-color: #52bad5;
}

.control .column {
  flex: 1;
  gap: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.link {
  background-color: #ed7d31;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  padding: 4px;
  text-align: center;
  font-size: 18px;
}

.link:hover, .link:active {
  background-color: #fff;
  border: 1px solid #ed7d31;
  color: #ed7d31;
  cursor: pointer;
}
 
.iframe {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  background-color: #52bad5;
  border: 12px solid #52bad5
}

.reference {
  display: flex;
  flex: 1;
}

.reference span {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.reference h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52bad5;
  width: 100%;
  height: 40px;
  margin: 0;
}

.reference img {
  max-width: calc(100% - 48px);
  max-height: 240px;
  object-fit: contain;
  padding: 12px 24px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}