body {
  font-family: "Arial, Helvetica", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  height: 48px;
  background-color: #52bad5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px
}

.header .logo {
  color: #fff;
  letter-spacing: 4px;
}

.form {
  margin-block-end: 0
}

.form label {
  font-size: 14px;
  color: #fff;
}

.form input {
  border: 1px solid #fff;
}

.form input:first-of-type {
  margin-right: 12px;
}

.form input:hover, .form input:focus {
  border: 1px solid #ed7d31;
  outline: none
}

.form button {
  background-color: #ed7d31;
  border: 1px solid #fff;
  color: #fff;
}
.form button:hover, .form button:active {
  background-color: #fff;
  border: 1px solid #ed7d31;
  color: #ed7d31;
  cursor: pointer;
}

.cover {
  width: 100%;
  height: 480px;
  object-fit: cover;
  object-position: center top;
}

.about {
  flex: 1;
}

.title {
  height: 40px;
  background-color: #52bad5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 0;
  letter-spacing: 4px;
}

.article {
  display: flex;
  padding: 16px;
  gap: 16px;
}

.picture {
  width: 400px;
  height: 100%;
  object-fit: contain;
}

.text p {
  margin-top: 0;
  text-align: justify;
  color: #777777;
  line-height: 24px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #52bad5;
  height: 40px;
  padding: 0 24px;
  color: #fff;
  letter-spacing: 2px;
}

@media screen and (max-width: 1024px) {
  .cover {
    width: auto;
    height: auto;
    object-fit: cover;
    object-position: center top;
  }
}

@media screen and (max-width: 768px) {
  .form {
    flex-direction: column;
  }

  .picture {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
    object-fit: contain;
  }

  .article {
    flex-direction: column;
  }
}