body {
  font-family: "Arial, Helvetica", sans-serif;
  margin: 0;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
}

.main {
  flex: 1;
  width: 720px;
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 2px;
}

.header, .footer {
  height: 48px;
  background-color: #52bad5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px
}

.logo {
  color: #fff;
  letter-spacing: 4px;
}

.navbar {
  font-size: 14px;
  margin: 0;
  text-align: right;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.section {
  padding: 16px;
  background-color: #52bad5;
}

.section:last-of-type {
  border-bottom: 2px solid #fff;
}

.title {
  text-align: center;
  letter-spacing: 4px;
  margin: 0 0 16px;
}

table {
  margin: 0 auto 0 auto;
}

.form label {
  font-size: 14px;
  color: #fff;
}

.form input {
  border: 1px solid #fff;
}

.form input:hover, .form input:focus {
  border: 1px solid #ed7d31;
  outline: none
}

.form button {
  background-color: #ed7d31;
  border: 1px solid #fff;
  color: #fff;
}
.form button:hover, .form button:active {
  background-color: #fff;
  border: 1px solid #ed7d31;
  color: #ed7d31;
  cursor: pointer;
}

.add-row:last-of-type,
.remove-row:last-of-type,
.edit-row:last-of-type {
  margin-bottom: 8px
}

.add-row  > label, .edit-row > label {
  display: inline-block;
  text-align: right;
  margin-right: 4px;
}

.edit-row:first-of-type {
  margin-top: 8px;
}

.add-row  > label {
  width: 88px;
}

.edit-row > label {
  width: 120px;
}

.edit-row span {
  display: inline-block;
  text-align: left;
  width: 132px;
}

.edit-row input[type=radio] {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 100%;;
  }
}